
body {
  background-color: #f2f2f2
}

#header {
  display: grid;
  grid-template-columns: 70px auto 50px;
  background-color:#0d0d0d;
  color: #666666;
  opacity: 0.9;
  height: 75px;
  border-radius: 5px;
  font-family: 'georgia';
}

#footer {
  display: grid;
  grid-template-columns: 70px auto 50px;
  background-color:#0d0d0d;
  color: #666666;
  opacity: 0.9;
  height: 75px;
  border-radius: 5px;
  font-family: 'georgia';
}

img {
  display: block;
  margin: auto;
}

button {
  border: solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  color: black;
  height: 80px;
  width: 80px;
}

#equalTo {
  width: 320px;
}

.result {
  width: 250px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  color: black;
  border: solid;
  padding: 15px 32px;
  text-align: right;
}

.cls-center {
  text-align: center;
}

.container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

#loginForm {
  position: right;
  margin-top: 10px;
  float: right;
  width: auto;
  height: auto;
}

.form-element {
  height: 30px;
  margin-right: 6px;
  padding: 5px 10px;
  border-radius: 3px;
}

.textbox {
  line-height: 1.6;
}

.button {
  background-color: #0073e6;
  color:white;
  text-align: center;
}


